* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.08%,
    rgba(98, 252, 214, 0.38) 100%
  );
}

#container {
  width: 100%;
  width: 1005px;

  /* a diferença entre usar margin e padding aqui é a seguinte quando vc usa o margin, vc está afastando o container do body, logo aumentando o body, ja quando vc está usando o padding vc está preenchendo o container só q sem haver um aumento no body em si por conta do border box */

  padding: 65px 0 30px;
  /* margin: 65px auto 0; */
  margin: auto;
}

span {
  color: #89c5cc;
}
header#cabecalho {
  /* margin: 65px 153px 53px 122px; */
  /* margin: 4.063rem 9.56rem 3.4rem 7.7rem; */

  margin-bottom:53px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 630px;
}

header#cabecalho span {
  font-family: "Inter";
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

/* se não definir um tamanho para a tag ou se n colocar a tag anterior como flex e aplicar as config ela ficara desestruturada */

header#cabecalho nav ul {
  display: flex;
  list-style: none;
  align-items: right;
  gap: 48px;
  position: relative;
}

header#cabecalho nav ul li {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
}
li a {
  color: #1e1533;
  text-decoration: none;
}

/*ele ira ver tem algum a dentro de um li que tem um li atrás dele? se sim aplique isso*/
li + li a {
  color: #1e1533;
  opacity: 0.5;
}

header#cabecalho nav ul li + li a {
  font-weight: 400;
}

/*main and footer */

main#content {
  display: flex;
  align-items: center;
  gap: 6.37rem /*102px*/;
}

main#content .text-content h1 {
  font-family: "Mulish";
  font-size: 49px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 40px;
}

main#content .text-content h1 span {
  font-weight: 700;
}

main#content .text-content p {
  font-family: "Open Sans";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 28px;
  margin: 0 0 58px;
  color: #7d7987;
}

main#content .text-content button a {
  padding: 16px 30px 16px 30px; /*18 32 */
  display: flex;
  gap: 12px;
  align-items: center;
  background: #69b99d;
  border-radius: 4px;
}
button {
  border: 0;
}
button a {
  text-decoration: none;
  color: #f9f9f9;
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  /* line-height: 21px; */
}

footer span {
  color: #000;
}
footer {
  margin: 83px auto 30px;
  text-align: center;
}
.balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

@media (max-width: 920px) {
  #container {
    width: 100%;
    min-width: 300px;
    margin:0 auto;
  }
  header#cabecalho {
    margin-bottom: 3.4rem;
    gap: 10rem;
  }
  footer {
    position: absolute;
    top: 78%;
    left: 30px;
    right: 30px;
  }
  main#content {
    padding: 0 30px;
  }
  main#content .fitness {
    height: 300px;
  }

  .balls {
    display: none;
  }
}

@media (max-width: 600px) {
  body {
    max-width: 500px;
  }
  header#cabecalho {
    gap: 3px;
  }
  header#cabecalho nav ul {
    gap: 15px;
  }

  main#content {
    margin-top: 70px;
    text-align: center;
    padding-top: 3rem;

    padding: 0 30px;
  }

  .fitness {
    display: none;
  }
}
