h2 {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.img {
  position: relative;

  margin: 0 3rem 1.4rem -2rem;

  float: left;
}

img {
  width: 350px;
  border: 1px solid rgba(204, 204, 204, 0.147);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 30%;
}

p {
  text-align: justify;
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 28px;

  color: #7d7987;
  font-size: 20px;
  margin-bottom: 1.4rem;
}

main#content .text-content {
  margin-bottom: 10rem;
}

footer {
  margin: 50px auto 30px;
  text-align: center;
}

@media (max-width: 950px) {
  .img {
    margin: 0 1.4rem 1.7rem -1.4rem;
  }

  img {
    width: 250px;
  }

  h2 {
    font-weight: 700;
    font-size: 32px;
  }
}
@media (max-width: 600px) {
  h2 {
    font-weight: 700;
    font-size: 1.47rem;
  }

  .img {
    margin: 0 auto 1.7rem;
    float: none;
    align-items: center;
  }
  img {
    width: 180px;
  }

  p {
    font-size: 14px;

    clear: both;
  }

  main#content .text-content p {
    padding-bottom: 19px;
  }

  .fitness {
    display: none;
  }
}
